@model CreateTodoModel

@using (Html.BeginForm("create", "home"))
{
    <div class="input-group">    
        @Html.EditorFor(m => m.Message)
        <span class="input-group-btn">
            <button type="submit" id="create-todo-submit" class="btn btn-primary">Save</button>
        </span>
    </div>
}