@model DeleteTodoModel

@using (Html.BeginForm("delete", "home"))
{
    @Html.HiddenFor(m => m.Message, new { id = string.Format("message-{0}", ViewBag.Index) })
    <button type="submit">Remove</button>
}
