@model HomeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Todos</title>
</head>
    <body>
        <h1>Todos:</h1>
        <ul>
            @foreach (var todo in @Model.Todos)
            {
                <li>
                    @todo.Message
                    @Html.Partial("_DeleteTodo", new DeleteTodoModel() { Message = todo.Message})                    
                </li>
            }
        </ul>
        @Html.Partial("_CreateTodo", new CreateTodoModel())
    </body>
</html>
